                    .tap {
                        background-color: rgba(20, 30, 55, 0.5);
                    }
                    
                    .tap nav ul li {
                        display: inline-block;
                        padding: 30px;
                        text-align: center;
                    }
                    
                    .tap nav ul li a {
                        text-align: center;
                        color: white;
                        font-size: 24px;
                    }
                    
                    .tap nav {
                        text-align: center;
                    }
                    
                    .photo img {
                        width: 350px;
                        height: 600px;
                        float: right;
                    }