                                    .tap {
                                        background-color: rgba(20, 30, 55, 0.5);
                                        position: fixed;
                                        width: 100%;
                                        height: 120px;
                                    }
                                    
                                    .tap nav ul li {
                                        display: inline-block;
                                        padding: 30px;
                                        text-align: center;
                                    }
                                    
                                    .tap nav ul li a {
                                        text-align: center;
                                        color: white;
                                        font-size: 24px;
                                    }
                                    
                                    .tap nav {
                                        text-align: center;
                                    }
                                    
                                    .container {
                                        background-image: url(/images/1_YTWUylQ8_FIstX3OWxixAw.jpeg);
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                    
                                    .blue {
                                        color: white;
                                        font-size: 36px;
                                        margin-right: 300px;
                                        margin-bottom: 10%;
                                    }
                                    
                                    .photo img {
                                        width: 350px;
                                        height: 600px;
                                        float: right;
                                    }
                                    
                                    .complex .blue a {
                                        background-color: seashell;
                                        padding: 30px;
                                        border-radius: 20px;
                                    }
                                    
                                    .link {
                                        background-color: rgba(20, 30, 55, 0.5);
                                        margin-bottom: 5%;
                                        display: flex;
                                        justify-content: center;
                                    }
                                    
                                    .link .pic img {
                                        width: 50px;
                                        height: 50px;
                                    }
                                    
                                    .link .app img {
                                        width: 50px;
                                        height: 50px;
                                    }
                                    
                                    .link .app {
                                        margin-left: 10px;
                                    }
                                    
                                    .link .pic {
                                        margin-right: 10px;
                                    }
                                    
                                    .red {
                                        padding-top: 220px;
                                    }